#graphCanvas{
margin: 0px;
padding: 0px;
height: 90%;
width: 100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);

}

body{
	margin: 0px;
	padding: 0px;
}

#graphControls{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #007AFF;
	height: 8%;
	width: 100%;
}

#graphControls img{
	padding-top:5px;
}

p{
	margin: 0px;
	padding: 0px;
	float:left;
}

#popup{
	position:absolute;
	margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
	z-index: 1000;
	width: 80%;
	background-color: black;
}

#popup p{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	border-color: #007AFF;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	color: #007AFF;
	padding: 10px;
	border-radius: 10px;
}